<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="HACK_portfolio.SiteMaster" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>HACK Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <main class="site-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
        </main>

        <nav class="glass-nav">
            <asp:HyperLink runat="server" NavigateUrl="~/Default.aspx#home" Text="Home" />
            <asp:HyperLink runat="server" NavigateUrl="~/Default.aspx#about" Text="About" />
            <asp:HyperLink runat="server" NavigateUrl="~/Default.aspx#projects" Text="Projects" />
            <asp:HyperLink runat="server" NavigateUrl="~/members.aspx" Text="Members" />
            <asp:HyperLink runat="server" NavigateUrl="~/Default.aspx#contact" Text="Contact" />
            <asp:HyperLink ID="navLogin" runat="server" NavigateUrl="~/login.aspx" Text="Login" />
        </nav>
    </form>
    <script src="/scripts/projects-data.js?v=2"></script>
    <script src="/scripts/projects.js?v=2"></script>
    <script src="/scripts/auth.js?v=2"></script>
</body>
</html>
