<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="HACK_portfolio.SiteMaster" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>HACK Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <main class="site-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
        </main>
    </form>
    <script src="/scripts/projects-data.js"></script>
    <script src="/scripts/projects.js"></script>
    <script src="/scripts/auth.js"></script>
</body>
</html>
